<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Materialize -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<!-- Materialize fonts for icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- CSS  -->
	<link rel="stylesheet" href="./css/style.css" type="text/css">
	<title>Booze Clues</title>


</head>

<body>
	{{{ body }}}
	<script>
		$(document).ready(function() {
			$('.modal').modal();
			// $(".button-collapse").sideNav();
		});
	</script>
</body>

</html>
