<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
	<!-- Materialize -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<!-- Materialize fonts for icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- CSS  -->
	<link rel="stylesheet" href="./css/style.css" type="text/css">
	<title>Booze Clues111</title>


</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center">BoozeClues</a>
			<!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
			<ul class="right">
				<li>
					<a href="/user">Dashboard</a>
				</li>
				<li>
					<a href="/login">Login</a>
				</li>
				<li>
					<a href="/login">Logout</a>
				</li>
			</ul>
			<!-- <ul class="right-align show-on-small hide-on-med-and-down">
	      <li class="active">
	          <a href="">Login</a></li>
	    </ul> -->

		</div>
	</nav>

	<div class="container">
		{{{body}}}
	</div>


	<footer class="footer center">
		<p>&copy; Boozeclues 2017</p>
	</footer>
	<script>
		$(document).ready(function() {
			$('.modal').modal();
			// $(".button-collapse").sideNav();
		});
	</script>
</body>

</html>
