<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Bootstrap -->

	<!-- CSS  -->
	<link rel="stylesheet" href="./css/style.css" type="text/css">
	<title>Booze Clues</title>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
	{{{ body }}}
</body>

</html>
