<div class="row spc">
    <!--Timer and stats-->
    <div class=" col s8">
        <div id="nextQuestion" class="center-align ">
            <button class="btn getQ" id="getQs">Get Questions</button>

            <button class="btn hide sendQ" id="nxtQ">Send Question</button>

            <div id="spinner" class="preloader-wrapper spin hide">
                <div class="spinner-layer spinner-yellow-only">
                    <!-- <div class="circle-clipper left">
                    </div> -->
                    <!-- <div class="gap-patch">
                    <div class="circle"></div>
                    </div> -->
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="timer" class="col s4">
        <h5 id="thead">Timer</h5>
        <h4 id="time"></h4>
    </div>
</div>


<!-- Display question -->
<div class="row center">
    <div class="col s12" id="qstn">
    </div>
</div>

<!-- Information Panel -->
<div class="row center">
    <div class="col s4 qstat topRow">
        <p>
            Question
        </p>
    </div>
    <div class="col s4 qstat">
        <p>
            Difficulty
        </p>
    </div>
    <div class="col s4 qstat">
        <p>
            Points
        </p>
    </div>
    <div class="col s4 bottomRow">
        <p id="qstn_info"></p>
    </div>
    <div class="col s4 bottomRow">
        <p id="diff"></p>
    </div>
    <div class="col s4 bottomRow">
        <p id="points"></p>
    </div>
</div>

<!-- ANSWERS DISPLAY -->
<div class="row ">
    <div class="col s6" id="opt-a">
        <div id="ansA" class="container ans valign-wrapper opt center"></div>
    </div>
    <div class="col s6" id="opt-b">
        <div id="ansB" class="container ans  valign-wrapper opt"></div>
    </div>
</div>
<div class="row center">
    <div class="col s6" id="opt-c">
        <div id="ansC" class="container ans  valign-wrapper opt"></div>
    </div>
    <div class="col s6" id="opt-d">
        <div id="ansD" class="container ans  valign-wrapper opt"></div>
    </div>
</div>

<!--Team scores and ranks -->
<div class="container custom">
    <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Team name</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1st</td>
                <td>Eclair</td>
            </tr>
            <tr>
                <td>2nd</td>
                <td>Jellybean</td>
            </tr>

        </tbody>
    </table>
</div>

  </tbody>
</table>
<script>var gameID = {{id}};</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/bar-game.js"></script>
