<div class="row "><!--Timer and stats-->
    <div class=" col s8">
       <div id="nextQuestion" class="center-align">
            <button class="btn" id="getQs">Get Questions</button>
            <button class="btn hide" id="nxtQ">Send Question</button>
            <div id="spinner" class="preloader-wrapper">
                <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="timer" class=" col s4">
        <h3 id="time"></h3>
    </div>
</div><!--End Timer and stats-->

<div class="row">
    <div class="col s4">
        <p id="qstn_info"></p>
    </div>
    <div class="col s4">
        <p id="diff"></p>
    </div>
    <div class="col s4">
        <p id="points"></p>
    </div
</div>

<div class="row">
    <div class="col s12" id="qstn">
    </div>
</div>

<!-- ANSWERS DISPLAY -->
<div class="row">
    <div class="col s6 valign-wrapper opt" id="opt-a">
        <div id="ansA" class="ans"></div>
    </div>
    <div class="col s6 valign-wrapper opt" id="opt-b">
        <div id="ansB" class="ans"></div>
    </div>
</div>
<div class="row">
    <div class="col s6 valign-wrapper opt" id="opt-c">
        <div id="ansC" class="ans"></div>
    </div>
    <div class="col s6 valign-wrapper opt" id="opt-d">
        <div id="ansD" class="ans"></div>
    </div>
</div>

<!--Team scores and ranks -->
<table>
  <thead>
    <tr>
        <th>Place</th>
        <th>Team name</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1st</td>
      <td>Eclair</td>
    </tr>
    <tr>
      <td>2nd</td>
      <td>Jellybean</td>
    </tr>

  </tbody>
</table>
<script>var gameID = {{id}};</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/bar-game.js"></script>
