

<div class='container'>
    <!-- LOGO -->
    <div class='center-align'>
        <img class="responsive-img" src="./images/BC_Logo.png" alt="missing logo">
    </div>

    <!-- DESCRIPTION -->
    <div class="">
        <h4 class='center-align'>Description</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        </p>
    </div>

    <!-- SUBMIT FORM -->
    <!-- data-target="modal1" -->
    <div class='center-align'>
        <a id="sbtn" href="/register" class="btn"><i class="material-icons right">create</i>Sign Up</a>
    </div>

    <!-- MODAL -->
    <!-- <div id="modal1" class="modal ">
    <div class="">
            <h2 class="">
                Fill this
            </h2>
    </div> -->
    <!-- <div class="modal-container">
        <div class="input-field">
            <input id="first_name2" type="text" class="validate">
            <label class="active" for="first_name2">Email</label>
        </div>
        <div class="input-field">
            <input id="first_name2" type="text" class="validate">
            <label class="active" for="first_name2">Password</label>
        </div>
        <div class="input-field">
            <input id="first_name2" type="text" class="validate">
            <label class="active" for="first_name2">Confirm Password</label>
        </div>
        <p>Register as...</p>
            <p>
              <input name="group1" type="radio" id="test1" />
              <label for="test1">Player</label>
              <input name="group1" type="radio" id="test2" />
              <label for="test2">Establishment</label>
          </>
        </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn ">Let's play</a>
  </div>
  </div><! END MODAL -->

</div>

</div>
