<div class="row spc">
    <!--Timer and stats-->
    <div id="inGameStats" class="col s8">
        <ul id="stats" class="tabs">
            <li class="tab col s6"><a href="#scores">Score</a></li>
            <li class="tab col s6"><a href="#answers">Answers</a></li>

        </ul>

            <div id="scores" class="col s12 "></div>
            <div id="answers" class="col s12 "></div>

    </div>


    <div id="timer" class=" col s4">
        <h5 id="thead">Timer</h5>
        <h4 id="time"></h4>
    </div>
</div>
<!--End Timer and stats-->

<!-- Wait Screen -->
<div id="firstscreen" class="row">
    <div class="col s12 center animated flip">
        <h1 id="wait">Sit back and relax... The game is about to start</h1>
    </div>
</div>

<!-- Game Screen -->
<div id="info" class="row hide animated fadeIn">
    <div class="row center">
        <div class="col s12" id="qstn">
        </div>
    </div>

    <!-- ANSWERS DISPLAY -->
    <form id="userAnswer">
        <div class="row">
            <div class="col s6" id="opt-a">
                <div id="ansA" class="container ans opt valign-wrapper"></div>
            </div>
            <div class="col s6 valign-wrapper " id="opt-b">
                <div id="ansB" class="conatiner ans opt valign-wrapper"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s6" id="opt-c">
                <div id="ansC" class="container ans valign-wrapper opt"></div>
            </div>
            <div class="col s6" id="opt-d">
                <div id="ansD" class="container ans valign-wrapper opt"></div>
            </div>
        </div>
        <div class="col s4 center qstat">
            <p>
                Question
            </p>

        </div>
        <div class="col s4 center qstat">
            <p>
                Difficulty
            </p>

        </div>
        <div class="col s4 center qstat">
            <p>
                Points
            </p>

        </div>
        <div class="col s4 center bottomRow">
            <p id="qstn_info"></p>
        </div>
        <div class="col s4 center bottomRow">

            <p id="diff"></p>
        </div>
        <div class="col s4 center bottomRow">

            <p id="points"></p>
        </div>
</div>
</form>

<script>var gameID = {{id}};</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/user-game.js"></script>
