body {
    background-color: white;
}
/* MAIN PAGE */
#logoIcon {
    padding-top: 25pt;
    font-size: 150pt;
    color: fff;
    /* text-align: center; */
}

#signUpButton {
    background-color: light-green;
    color: white;
}


#sideInfo{
    padding: 0 15pt 0 15pt;
}

#joinGameForm {
    padding: 0 40px 0 40px;
}
/* USER GAME SCREEN */
#opt-1{
    text-align: auto;
    height: 80pt;
    color: white;
    background-color: blue;
}

#test{
    text-align: center;
}

/*CSS for socketTest, to be deleted*/
#timer {
	width: 100%; 
	height: 28vh; 
	background-color: green; 
	border: 5px solid black; 
	font-size: 2.5em; 
	font-weight: bold; 
	color: white; 
	text-align: center; 
	transition: background-color 0.5s ease;
	margin: 0 auto;
} 
.ans {
	width: 100%; 
	height: 14vh; 
	background-color: 
	blue; color: white;
} 
.third{ 
	height: 30vh; 
	border: 2px solid black;
} 
.blah{
	height: 1.5rem; 
	border: 2px solid grey;
}