body {
    background-color: white;
}

#logoIcon {
    padding-top: 25pt;
    font-size: 150pt;
    color: fff;
    /* text-align: center; */
}

#signUpButton {
    background-color: light-green;
    color: white;
}

#modal1{
    width: 400px;
}


.modal-container{
    padding: 0 15px 15px 15px;
}

.modal h2{
    text-align: center;
    color: #25A699;
    font-size: 24pt;
}

#sideInfo{
    padding: 0 15pt 0 15pt;
}

#joinGameForm {
    padding: 0 40px 0 40px;
}
